[submodule "rubisenPOC-API"]
	path = rubisenPOC-API
	url = https://github.com/olivbau/rubisenPOC-API
[submodule "rubisenPOC-Front"]
	path = rubisenPOC-Front
	url = https://github.com/olivbau/rubisenPOC-Front
[submodule "rubisenSandbox"]
	path = rubisenSandbox
	url = https://github.com/olivbau/rubisenSandbox
[submodule "rubisenMappy"]
	path = rubisenMappy
	url = https://github.com/JulesMicho/rubisenMappy
